<br>
<mat-card>
    <table mat-table [dataSource]="books$ | async" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let book" (click)="deleteOne()"> {{book.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <th mat-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let book"> {{book.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="summary">
            <th mat-cell *matHeaderCellDef>Summary</th>
            <td mat-cell *matCellDef="let book"> {{book.summary}} </td>
        </ng-container>

        <ng-container matColumnDef="kind">
            <th mat-cell *matHeaderCellDef>Kind</th>
            <td mat-cell *matCellDef="let book"> {{book.kind}} </td>
        </ng-container>

        <ng-container matColumnDef="author">
            <th mat-cell *matHeaderCellDef>Author</th>
            <td mat-cell *matCellDef="let book"> {{book.author}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let book" (click)=put(book.id)>
                <mat-icon color="primary">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let book">
                <mat-icon color="warn">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</mat-card>
<br>
<button mat-fab color="blue" (click)="goToForm()">
    <mat-icon>add</mat-icon>
</button>